<%= @game.player2.name %> has attacked <%= @game.player1.name %><br>

<%= @game.player1.name %> now has <%= @game.player1.points %> points

<% if $game.player1.lost %>
  <h1> YOU WIN YOU SEXY FUCK </h1>
  <% else %>

<form action="/play" method="get">
  <input type="submit" value="Back">
</form>

<% end %>
